body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: #f0f0f0;
}

nav {
  background: linear-gradient(90deg, #4b0082, #00ffcc);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: yellow;
}

.logo {
  width: 60px;
  height: auto;
}

section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2 {
  color: #ffd700;
  text-align: center;
  margin-bottom: 1rem;
}

#search, #sort {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1c1c1c;
  color: white;
}

th, td {
  padding: 0.75rem 1rem;
  border: 1px solid #333;
  text-align: center;
}

th {
  background-color: #4b0082;
  font-weight: bold;
}

footer {
  background: #4b0082;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  color: white;
}

.table-img {
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  object-fit: cover;
}

.collect-btn {
  padding: 0.4rem 0.7rem;
  background-color: #00ffcc;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.collect-btn:hover {
  background-color: #4b0082;
  color: white;
}

#collection-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.card {
  width: 220px;
  background-color: #202042;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card button {
  margin: 0.5rem auto 1rem auto;
  padding: 0.5rem 1rem;
  background-color: #4b0082;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.card button:hover {
  background-color: #00ffcc;
  color:white;
}

@media (max-width: 768px) {
  #personnages-table {
    overflow-x: auto;
    display: block;
  }

  table {
    min-width: 700px; 
  }

  th, td {
    white-space: nowrap; 
  }
}